.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
    @include respond(tab-port) {
  grid-template-columns: 90%;
  grid-gap: .5rem;
  }
}

.grid-container2 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 70%;
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-content: center;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("https://b.kisscc0.com/20180517/fqq/kisscc0-road-desert-desktop-wallpaper-landscape-propzee-nature-5afd60f002bb30.9295929115265548640112.jpg");
  background-size: cover;
  background-position: bottom;
  height:90%;
  @include respond(tab-port) {
  grid-template-columns: 100%;
  grid-gap: .5rem;
  grid-template-rows: 20% 20% 20% 20%;
    height:100vh;
  }
}

.grid-container3 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-content: center;
    @include respond(tab-port) {
  grid-template-columns: 100%;
  grid-gap: 2rem;
  }
}

.grid-container6 {
  display: grid;
  grid-template-columns: 40% 30%;
  grid-gap: 2rem;
  justify-content: center;
  align-content: center;
    @include respond(tab-port) {
  grid-template-columns: 100%;
  }
}