.section-about, .section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -25vh;
}
.section-features {
 height: 90vh; 
 transform: skewy(-6deg);
 margin-top: -10rem;
}

.section-stories {
  padding: 0rem 0 3rem 0;
  position: relative;
}